USE [master]
GO
/****** Object:  Database [TOEICEssentialWords]    Script Date: 2/6/2017 5:21:54 PM ******/
CREATE DATABASE [TOEICEssentialWords]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TOEICEssentialWords.mdf', FILENAME = N'D:\Data\GitHub\NexcelExercise\TOEICEssentialWords\TOEICEssentialWords.Web\App_Data\TOEICEssentialWords.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TOEICEssentialWords_log.ldf', FILENAME = N'D:\Data\GitHub\NexcelExercise\TOEICEssentialWords\TOEICEssentialWords.Web\App_Data\TOEICEssentialWords_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TOEICEssentialWords].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TOEICEssentialWords]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/6/2017 5:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Definition]    Script Date: 2/6/2017 5:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Definition](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Example] [nvarchar](max) NULL,
	[WordId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Definition] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 2/6/2017 5:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LessonNumber] [int] NOT NULL,
	[TopicId] [int] NOT NULL,
	[Slug] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Lesson] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 2/6/2017 5:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Topic]    Script Date: 2/6/2017 5:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Index] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Topic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2/6/2017 5:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirtName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Salt] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 2/6/2017 5:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Word]    Script Date: 2/6/2017 5:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Word](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[WordType] [int] NOT NULL,
	[BrEPronoun] [nvarchar](max) NULL,
	[NAmEPronoun] [nvarchar](max) NULL,
	[LessonId] [int] NOT NULL,
	[BrESoundUrl] [nvarchar](max) NULL,
	[NAmESoundUrl] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Word] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Definition] ON 

INSERT [dbo].[Definition] ([Id], [Name], [Example], [WordId]) VALUES (1, N'an arrangement, a promise or a contract made with somebody', N'They hadd a free trade agreement with Australia.', 2)
INSERT [dbo].[Definition] ([Id], [Name], [Example], [WordId]) VALUES (2, N'the state of sharing the same opinion or feeling', N'The two sides failed to reach agreement.', 2)
SET IDENTITY_INSERT [dbo].[Definition] OFF
SET IDENTITY_INSERT [dbo].[Lesson] ON 

INSERT [dbo].[Lesson] ([Id], [Name], [LessonNumber], [TopicId], [Slug]) VALUES (1, N'Contracts', 1, 1, N'contracts')
INSERT [dbo].[Lesson] ([Id], [Name], [LessonNumber], [TopicId], [Slug]) VALUES (2, N'Marketing', 2, 1, N'marketing')
INSERT [dbo].[Lesson] ([Id], [Name], [LessonNumber], [TopicId], [Slug]) VALUES (3, N'Warranties', 3, 1, N'warranties')
SET IDENTITY_INSERT [dbo].[Lesson] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([Id], [Name], [Index]) VALUES (1, N'General Business', 1)
INSERT [dbo].[Topic] ([Id], [Name], [Index]) VALUES (2, N'Office Issues', 2)
INSERT [dbo].[Topic] ([Id], [Name], [Index]) VALUES (4, N'Purchasing', 4)
SET IDENTITY_INSERT [dbo].[Topic] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FirtName], [LastName], [UserName], [Password], [Salt], [DateCreated]) VALUES (1, N'Alvin', N'Nguyen', N'alvin.nguyen', N'pQ2sOKhLuZp8Lxnk2siwmC3mcKNGlF8gr8ybTediZ3w=', N'gedUcjotmOZLvMRnDwMpegA0rAvXRs5Y', CAST(N'2017-01-26 06:38:13.210' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (1, 1)
SET IDENTITY_INSERT [dbo].[Word] ON 

INSERT [dbo].[Word] ([Id], [Name], [WordType], [BrEPronoun], [NAmEPronoun], [LessonId], [BrESoundUrl], [NAmESoundUrl], [Slug]) VALUES (1, N'abide by', 1, NULL, NULL, 1, NULL, NULL, N'abide-by')
INSERT [dbo].[Word] ([Id], [Name], [WordType], [BrEPronoun], [NAmEPronoun], [LessonId], [BrESoundUrl], [NAmESoundUrl], [Slug]) VALUES (2, N'agreement', 0, N'/əˈɡriːmənt/', N'/əˈɡriːmənt/', 1, N'http://www.oxfordlearnersdictionaries.com/media/english/uk_pron/a/agr/agree/agreement__gb_1', N'http://www.oxfordlearnersdictionaries.com/media/english/us_pron/a/agr/agree/agreement__us_1', N'agreement')
INSERT [dbo].[Word] ([Id], [Name], [WordType], [BrEPronoun], [NAmEPronoun], [LessonId], [BrESoundUrl], [NAmESoundUrl], [Slug]) VALUES (3, N'assurance', 0, N'/əˈʃʊərəns/', N'/əˈʃʊrəns/', 1, N'http://www.oxfordlearnersdictionaries.com/media/english/uk_pron/a/ass/assur/assurance__gb_1', N'http://www.oxfordlearnersdictionaries.com/media/english/us_pron_ogg/a/ass/assur/assurance__us_1', N'assurance')
SET IDENTITY_INSERT [dbo].[Word] OFF
/****** Object:  Index [IX_WordId]    Script Date: 2/6/2017 5:21:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_WordId] ON [dbo].[Definition]
(
	[WordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TopicId]    Script Date: 2/6/2017 5:21:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_TopicId] ON [dbo].[Lesson]
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 2/6/2017 5:21:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[UserRole]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 2/6/2017 5:21:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserRole]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonId]    Script Date: 2/6/2017 5:21:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_LessonId] ON [dbo].[Word]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Definition]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Definition_dbo.Word_WordId] FOREIGN KEY([WordId])
REFERENCES [dbo].[Word] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Definition] CHECK CONSTRAINT [FK_dbo.Definition_dbo.Word_WordId]
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lesson_dbo.Topic_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topic] ([Id])
GO
ALTER TABLE [dbo].[Lesson] CHECK CONSTRAINT [FK_dbo.Lesson_dbo.Topic_TopicId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId]
GO
ALTER TABLE [dbo].[Word]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Word_dbo.Lesson_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lesson] ([Id])
GO
ALTER TABLE [dbo].[Word] CHECK CONSTRAINT [FK_dbo.Word_dbo.Lesson_LessonId]
GO
USE [master]
GO
