$color-global-green: #1ab394;
$color-global-red: #ed5565;
$color-global-blue: #1c84c6;
$color-global-yellow: #f2f226;
$color-global-grey-blue: #e7eaec;

$admin-bg-color: #f3f3f4;
$border-color: #e7eaec;

@mixin color-button($color) {
    background-color: $color;
    color: #fff;

    &:hover, &:focus, &:active {
        background-color: darken($color,9%);
        color: #fff;
    }
}

.btn-green {
    @include color-button($color-global-green);
}

.btn-red {
    @include color-button($color-global-red);
}

.btn-blue {
    @include color-button($color-global-blue);
}

.btn-yellow {
    @include color-button($color-global-yellow);
}

.navbar{
    padding: 0;
    margin: 0;
}

#page-wrapper{
    background-color: $admin-bg-color;
    border-bottom: 1px solid $border-color;
    padding: 10px;
}

.panel {
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    border-top: 4px solid $border-color;
    box-shadow: none;

    .panel-heading {
        border: none;
        border-bottom: 1px solid $border-color;
        margin-bottom: 0;
        padding: 14px 15px 7px;
        min-height: 44px;

        h5 {
            display: inline-block;
            margin: 0;
            padding: 0;
            text-overflow: ellipsis;
            float: left;
            font-weight: bold;
        }
    }

    .panel-content, .panel-body {
        padding: 15px 20px 20px 20px;
    }
}

.back-button{
    margin-bottom: 10px;
}