$admin-bg-color: #f3f3f4;
$border-color: #e7eaec;

.navbar {
    padding: 0;
    margin: 0;
}

#page-wrapper {
    background-color: $admin-bg-color;
    border-bottom: 1px solid $border-color;
    padding: 10px;
}

.main-panel {
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    border-top: 4px solid $border-color;
    box-shadow: none;

    .panel-heading {
        border: none;
        border-bottom: 1px solid $border-color;
        margin-bottom: 0;
        padding: 14px 15px 7px;
        min-height: 44px;

        h5 {
            display: inline-block;
            margin: 0;
            padding: 0;
            text-overflow: ellipsis;
            float: left;
            font-weight: bold;
        }
    }

    .panel-content, .panel-body {
        padding: 15px 20px 20px 20px;
    }
}

.back-button {
    margin-bottom: 10px;
}

.table-search {
    padding-bottom: 25px;
}