$primary-color: #fff;

* {
    box-sizing: border-box;
}

body {
    font: normal 17px/1.5 Arial, Helvetica, sans-serif;
    color: $primary-color;
}

.main-header {
    background: url(../images/banner.jpg) no-repeat center;
    text-align: center;
    padding-top: 107px;
    background-position-y: -190px;
}

.description {
    border: 13px solid $primary-color;
    background-color: #efc889;

    p {
        margin-top: 36px;
        padding: 0 62px;
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    img {
        border-radius: 50%;
        bottom: 0;
        margin-bottom: -60px;
    }
}

.profile {
    padding-top: 40px;
    margin: 23px 0;

    p {
        margin: 0;
    }
}

.btn-contact {
    width: 250px;
    height: 58px;
    font-size: 14px;
    font-weight: bold;
    color: $primary-color;
    background: #efc889;
    border: 3px solid $primary-color;
    border-radius: 5px;
}

.main-content {
    background-color: #a5937b;

    h1 {
        margin: 0;
        padding: 20px 0;
        text-align: center;
        font-size: 44px;
        font-weight: bold;
    }
}

.contact-info {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;

    [class^="grid-"] {
        padding: 30px 0;

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }

        h3 {
            font-size: 19px;
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 15px;
        }

        p {
            font-size: 17px;
            margin: 0;
        }
    }
}

.contact-form {
    .form-group {
        padding-top: 33px;

        label {
            font-weight: bold;
        }

        input[type="text"] {
            width: 100%;
            border-radius: 10px;
            height: 50px;
        }

        textarea {
            width: 100%;
            height: 304px;
            border-radius: 10px;
            resize: none;
        }
    }

    .btn {
        text-align: center;
        padding: 20px 0;

        .btn-submit {
            font-size: 13px;
            color: $primary-color;
            height: 63px;
            width: 250px;
            background-color: #a5937b;
            margin: 0 auto;
            border: 3px solid $primary-color;
            border-radius: 5px;
        }
    }
}

.button {
    cursor: pointer;

    span {
        background: url(../images/sprites.png) no-repeat top left;
        display: inline-block;
        height: 20px;
        width: 30px;
        margin-right: 10px;
    }

    .icon-contact {
        background-position: 5px 0px;
    }

    .icon-submit {
        background-position: -25px 0px;
    }
}

@media(min-width: 1px) and (max-width: 414px) {
    .main-header {
        padding: 50px 20px;
    }

    .description {
        p {
            margin-top: 25px;
            padding: 0 9px;
            line-height: 1.8;
        }
    }
}

@media(min-width: 415px) and (max-width: 768px) {
    .main-header {
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 107px;
    }
}

@media(min-width:769px) {
    .main-header {
        height: 648px;
    }

    .description {
        margin-left: auto;
        margin-right: auto;
        max-width: 704px;

        img {
            border: 3px solid $primary-color;
        }
    }

    .main-content {
        h1 {
            padding-top: 63px;
            padding-bottom: 34px;
        }
    }

    .contact-info {
        padding: 58px 0;

        [class^="grid-"] {
            padding: 0;

            h3 {
                margin-bottom: 26px;
            }
        }
    }

    .form-group {
        padding-left: 22px;
        padding-right: 22px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            float: right;
            padding-right: 0;
        }
    }
}