@model TOEICEssentialWords.Web.ViewModels.NotFoundWordViewModel
@{
    ViewBag.Title = "NotFound";
}
<div class="search-result">
    <h2>No exact match found for "@Model.KeyWord" in TOEIC Esssential Words</h2>
    <h2>Nearest results:</h2>
    <ul>
        @foreach (var result in Model.NearestResults)
        {
            <li>
                <a href="@Url.Action("Index", new { slug = result.Slug })">@result.Name</a>&nbsp;<span class="wordclass">@result.WordType.ToString()</span>
            </li>
        }
    </ul>
</div>