
/********************************************************/
/*                        Page Styles                   */
/********************************************************/
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font: 13px/1.5 Arial, "Segoe UI", Tahoma;
	font-weight: 400;
	line-height: 25px;
	color: #fff;
	background-color: #76acfc;
}
h1{
	font-size: 24px;
}

.page-title{
	text-align: center;
}

input[type="text"], textarea{
	display: block;
	width: 100%;
	padding: 0;
	border: none;
	line-height: 38px;
	border-radius: 4px;
	box-shadow: none;
	height: 42px;
	text-indent: 10px;
	margin: 0 0 12px;
}

input[type="submit"]{
	display: inline-block;
	height: 40px;
	width: 120px;
	background-color: #64ce83;
	border: 1px solid #3dc264;
	border-radius: 4px;
	text-align: center;
	float: right;
	color: #fff;
}
.contact-info{
	vertical-align: baseline;
	margin: 0;
	display: inline-block;
	text-decoration: none;
}
.contact-info .phone-number{
	background-position: 4px -3px;
}
.contact-info .email{
	background-position: -27px -3px;
}

.contact-info .address{
	background-position: -54px -3px;
}
.contact-info span{
	background: url(../images/sprites.png) no-repeat top left;
	display: inline-block;
	height:18px;
	width:25px;
}
.contact-info a:link, .contact-info a:visited{
	text-decoration:none;
	color: #fff;
}
#message{
	height: 150px;
}

#contact div{
	padding: 0;
}