@using TOEICEssentialWords.Web.ViewModels
@model LessonViewModel

@{
    ViewBag.Title = Model.Lesson.Name;
}

<div class="row">
    <div class="col-lg-12 content-wrapper">
        <div class="row content-header">
            <span>&nbsp;</span>
            <h2>@Model.Lesson.Name</h2>
            <span>&nbsp;</span>
            <span class="pos">Lesson</span>
        </div>
    </div>
</div>