@import 'mixins';

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima-Nova-Regular.otf');
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima-Nova-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima-Nova-Light.otf');
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

body {
    font: normal 18px/1.5 'Proxima Nova';
    background: #fff;
    color: #4c4c4c;
}

.main-header {
    padding: 15px 0;
    box-shadow: 0 3px #cccccc;
    background-color: #fff;

    .main-nav {
        padding: 0;
    }

    input[type="button"] {
        height: 45px;
        background-color: #e73c50;
        border: 1px solid #b5161e;
        box-shadow: 0 3px #b5161e;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
    }
}

.main-nav {
    margin: 0;
    list-style: none;

    a {
        font: inherit;
        font-size: 14px;
        font-weight: bold;
        line-height: 35px;
        display: block;
        text-align: center;
        color: #737373;
        text-decoration: none;
    }
}

.main-content {
    font: inherit;
}

.left-content {
    padding-right: 0;
}

.post-image {
    border-bottom: 4px solid #ffa933;
    width: 100%;
}

.post-body {
    border-bottom: 3px solid #cccccc;

    h4 {
        margin: 0;
        padding-top: 25px;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #007299;
    }

    a {
        font-size: 12px;
        font-weight: bold;
        color: #007299;
    }
}

.post-info {
    font-size: 11px;
    color: #c98715;
    display: block;

    p {
        display: inline-block;
        margin: 0;
    }

    .author {
        float: right;
    }
}

.post-summary {
    font-size: 14px;
    color: #666666;
    padding-bottom: 10px;
}

.right-content {
    font: inherit;

    h2 {
        margin: 0;
        padding-bottom: 20px;
        font-size: 24px;
        font-weight: normal;
        color: #007299;
    }

    p {
        margin: 0;
        padding-bottom: 20px;
        color: #4c4c4c;
    }

    a {
        font-size: 12px;
        font-weight: bold;
        color: #007299;
        text-decoration: none;
    }
}

.main-footer {
    font: inherit;
    font-size: 16px;
    color: #fff;
    background-color: #007299;
    text-align: center;

    .grid-container {
        margin-top: auto;
        margin-bottom: auto;
    }

    p {
        margin: auto 0;
        padding-bottom: 10px;
        font-weight: 300;
    }

    input {
        font: inherit;
        margin: auto 0;
        height: 45px;
        vertical-align: middle;

        &[type="submit"] {
            width: 75px;
            background-color: #06a7e2;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        &[type="text"] {
            width: 285px;
            text-indent: 20px;
            @include placeholder-color(#06a7e2);
        }
    }
}

@media (min-width: 1px) and (max-width: 768px) {
    .main-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
    }

    .main-header {
        .main-nav {
            padding-bottom: 15px;
        }

        input[type="button"] {
            width: 100%;
        }
    }

    .main-nav {
        a {
            border: 1px solid #cccccc;

            .main-logo {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .main-content {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .post-body {
        padding-bottom: 15px;
    }

    .right-content {
        padding-top: 20px;
    }

    .main-footer {
        padding: 25px 0;
    }
}

@media (min-width:769px) {
    body {
        padding-top: 112px;
    }

    .main-header {
        position: fixed;
        top: 0;
        width: 100%;

        input[type="button"] {
            width: 150px;
            float: right;
        }
    }

    .main-nav {
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .main-content {
        .right-content {
            padding-left: 150px;
        }
    }

    .post-body {
        min-height: 250px;
        padding: 0 20px;

        h4 {
            font-size: 18px;
        }
    }

    .post-summary {
        font-size: 15px;
    }

    .main-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 52.5px 0;

        p {
            padding-top: 10px;
        }
    }
}