@using TOEICEssentialWords.Web.ViewModels
@model TopicViewModel
<div class="collapse navbar-collapse topic-menu">
    <div class="side-nav">
        <a href="/" class="navbar-brand">
            <img src="~/Content/images/logo.jpg" alt="Logo" />
        </a>
        <ul class="nav navbar-nav">
            @foreach (var topic in Model.Topics)
            {
                <li>
                    <a href="#" data-toggle="collapse" data-target="#@topic.Id">@topic.Name <i class="glyphicon glyphicon-chevron-right"></i></a>
                    @if (topic.Lessons != null && topic.Lessons.Count > 0)
                {
                        <ul id="@topic.Id" class="collapse">
                            @foreach (var lesson in topic.Lessons)
                            {
                                <li>
                                    <a href="@Url.Action("Index", "Lesson", new { id = lesson.Id })">@lesson.DisplayName</a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
</div>