@using TOEICEssentialWords.Web.ViewModels
@model TopicMenuViewModel

<nav class="pushy pushy-left side-nav">
    <ul class="nav" id="topic-menu">
        @foreach (var topic in Model.Topics)
        {
            <li>
                <a href="#"><i class="fa fa-bookmark fa-fw"></i>@topic.Name <span class="fa arrow"></span></a>
                @if (topic.HasChild)
                {
                    <ul id="@topic.Id" class="nav nav-second-level">
                        @foreach (var lesson in topic.Lessons)
                    {
                            <li>
                                <a href="@Url.Action("Index", "Lesson", new { slug = lesson.Slug })">@lesson.DisplayName</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</nav>
<div class="site-overlay"></div>